.myBackground {
    background-image: url(https://img.freepik.com/fotos-gratis/empresaria-no-cafe_1157-5421.jpg?w=740&t=st=1669239158~exp=1669239758~hmac=18fbf4933f764b5648259a12890bbeec1691e22c2a8fde1d358e6212268d48d0);
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundfooter{
    background-color: rgb(66, 66, 66);
}