#floatingInput{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#butao{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}